<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <app-main-left-nav></app-main-left-nav>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Navbar Search -->
    <app-main-search-nav></app-main-search-nav>

    <!-- Messages Dropdown Menu -->
    <app-messages-nav></app-messages-nav>
    <!-- Notifications Dropdown Menu -->
    <app-notifications-nav></app-notifications-nav>
    <!-- Full screen button -->
    <li class="nav-item">
      <a class="nav-link" data-widget="fullscreen" href="#" role="button">
        <i class="fas fa-expand-arrows-alt"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
        <i class="fas fa-power-off"></i>
      </a>
    </li>
  </ul>
</nav>
<!-- /.navbar -->
